# This is ssh server system wide configuration file.
#
# /etc/ssh/sshd_config 
Port                       22
ListenAddress              0.0.0.0
LoginGraceTime             180
X11Forwarding              no
Ciphers aes128-cbc,3des-cbc,aes256-cbc
MACs hmac-sha1,hmac-sha1-96
StrictModes                no
SyslogFacility             DAEMON
PasswordAuthentication     yes
PermitEmptyPasswords       no
PermitRootLogin yes
StrictModes no
HostbasedAuthentication no
IgnoreUserKnownHosts yes
PubKeyAuthentication no

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no